services:
  brain:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: always

  face:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - brain
    restart: always